<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>952381607921-il931cehv8mc8fn6g689a57v3o5sdk75.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.952381607921-il931cehv8mc8fn6g689a57v3o5sdk75</string>
	<key>API_KEY</key>
	<string>AIzaSyD5nJHeUVVFHdZkTsoLLJazMwsgQNxkRAc</string>
	<key>GCM_SENDER_ID</key>
	<string>952381607921</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.colors</string>
	<key>PROJECT_ID</key>
	<string>colors-62334</string>
	<key>STORAGE_BUCKET</key>
	<string>colors-62334.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:952381607921:ios:de6e303f42dcca1a913e50</string>
</dict>
</plist>